/* Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

.main {
    background-color: #dedede;
}
.backgroundBox-header {
    background-color: #9fa2a2;
    padding-left: 3%;
    margin-right: 4.7%;
    margin-bottom: 2%;
    margin-left: 10%;

}
.backgroundBox-left {
    background-color: #9fa2a2;
    margin-left: 3.9%;
    margin-right: 26%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.backgroundBox-right {
    background-color: #9fa2a2;
    margin-left: -4%;
    margin-right: 18%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.backgroundBox {
    background-color: #9fa2a2;
    margin-left: 6%;
    margin-right: 8%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.backgroundBox-text {
    background-color: #9fa2a2;
    margin-left: 6%;
    margin-right: 8%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
}

.p-text {
    font-size: inherit;
    line-height: 180%;
}

.captionbox{
    padding-left: 2%;
    margin-right: 14%;
    margin-top: 3%;
    font-size: 1.3em;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffb200;
}

.offset-section {
    padding-left: 12%;
}

.col-6-offset {
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
.offset-input {
    padding-top: 1.5%;
    padding-right: 30%;
}
.offset-md6 {
    padding-left: 12%;
    margin-left: 4%;
}




.captionbox-right {
    margin-left: -7%;
    margin-right: 20%;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #f3f3f4;
    padding: 0 24px 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6f6f6f;
}
a {
    color: #fbba00;
}
a:hover,
a:focus {
    color: #edb105;
}

.tooltip {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
}
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1;
}
.tooltip-inner {
    color: #6f6f6f;
    background-color: #f3f3f4;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #f3f3f4;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #f3f3f4;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #f3f3f4;
}
.tooltip.bottom .tooltip-arrow ,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #f3f3f4;
}

.cont-center {
    /*width: 100%;*/
    min-width: 995px;
    max-width: 1900px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
}


.title-h1 {
    display: inline-block;
    background: inherit;
    height: 43px;
    margin: 0;
    padding: 12px 18px;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    line-height: 43px;
    color: #2d9abb;
}

#header {
    /*width: 100%;*/
    min-width: 1043px;
    margin: 0 -24px 14px;
}
#header-top {
    background-color: #414141;
    padding: 7px 24px;
}
.top-breadcrumb > li + li:before {
    font-size: 40px;
    position: relative;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    padding: 0 5px;
    margin-left: 8px;
    color: inherit;


}
.top-breadcrumb {
    float: left;
    margin-bottom: 0;
    padding: 5px 1px;
    list-style: none;
    color: #a2a2a2;
    font-size: 1.2em;

}
.top-breadcrumb > li {
    display: inline-block;
}
.top-breadcrumb > li a {
    color: inherit;
    padding-right: 10px;
}


#header-btm {
    background-color: #fff;
    border-bottom: 1px solid #e9e8e8;
    padding: 0 24px;
}
#header-btm .cont-center {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header-btm .prmgr-logo {
    float: left;
    padding: 15px 0 11px;
    position: relative;
    z-index: 1;
}
#header-btm .eucon-logo {
    padding-top: 7px;
    float: right;
    position: relative;
    z-index: 1;
}